
<html>
    <head>
        <style>
        body {
            padding: 20%;
            text-align: center;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
            background-color: DarkSlateGrey;
            color: white;
        }

        a {
            color: lightgreen;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        a:visited {
            color: lightgreen;
        }

        </style>
    </head>
    <body>
        <h1>EcoBanger, the more ecological duck</h1>

        <form action="/search">
            <input type="text" name="q">
            <input type="submit" value="Search">
        </form>

        <p>
            This little web form combines the business model of Ecosia and the
            wonderful !bang functionality of DDG. Your regular searches will be
            redirected to Ecosia, but starting a search with a '!'  will
            activate the respective DDG bang. Ain't that fantastic!
        </p>

        <footer>
            This software is licensed under AGPLv3, source code available at <a href="https://gitlab.com/Samsai/ecobanger">https://gitlab.com/Samsai/ecobanger</a>
        </footer>
    </body>
</html>
